@use "partials/mixins";
@use "partials/variables";
@use "partials/reboot";

// TODO: remove it
:root {
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(
    126.67% 350.28% at -21.35% 0%,
    #11213f 0%,
    #0b0b0b 39.1%,
    #021740d6 94.57%,
    #02174000 100%
  );
}

.nav {
  padding: 0.75rem;

  &-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    width: 95%;
    margin: 0 auto;
    padding: 1.5rem 0;
  }
  &-links {
    display: none;
    font-family: "BEYNO", sans-serif;
  }
  &-link:hover {
    text-decoration: underline;
  }
  &-link-active {
    text-decoration: underline;
    color: variables.$violet-1;
  }
  &-logo img {
    height: 1.6rem;
  }

  @include mixins.mq_sm {
    &-wrapper {
      padding: 2rem 0;
    }
    &-logo img {
      height: 1.9rem;
    }
  }

  @include mixins.mq_md {
    padding: 1rem;

    &-wrapper {
      padding: 2rem 0;
      justify-content: space-between;
    }
    &-links {
      display: flex;
      gap: 3rem;
      font-size: 1.2rem;
    }
  }

  @include mixins.mq_lg {
    &-logo img {
      height: 2rem;
    }
    &-links {
      font-size: 1.7rem;
    }
  }

  @include mixins.mq_xl {
    &-logo img {
      font-size: 2.3rem;
    }
    &-links {
      font-size: 2rem;
    }
  }
}

.banner {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  text-align: center;

  &-wrapper-text {
    width: 85%;
    margin: 0 auto;
    padding: 2rem 0;
  }
  &-title {
    font-family: "Panthera", sans-serif;
    font-size: 2rem;
    color: variables.$violet-1;
    margin-bottom: 0.7rem;
  }
  &-subtitle {
    font-family: "BEYNO", sans-serif;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  &-wrapper-image {
    display: none;
  }
  &-image {
    width: 100%;
  }

  @include mixins.mq_md {
    grid-template-columns: 40% 60%;
    text-align: start;

    &-wrapper-text {
      padding: 2.2rem 0 3rem 0;
    }
    &-title {
      font-size: 2.5rem;
      margin-bottom: 0.9rem;
    }
    &-subtitle {
      margin-bottom: 1.3rem;
      font-size: 1.5rem;
    }
    &-wrapper-image {
      display: block;
    }
    &-wrapper-text {
      margin: 0 0 0 auto;
    }
  }
  @include mixins.mq_lg {
    &-wrapper-text {
      padding: 2.5rem 0 2.8rem 0;
    }
    &-title {
      font-size: 3.2rem;
      margin-bottom: 0.8rem;
    }
    &-subtitle {
      margin-bottom: 1.5rem;
    }
  }
  @include mixins.mq_xl {
    &-wrapper-text {
      padding: 3rem 0 3.4rem 0;
    }
    &-title {
      font-size: 3.8rem;
      margin-bottom: 1rem;
    }
    &-subtitle {
      margin-bottom: 1.8rem;
    }
  }
}
