@use "partials/mixins";
@use "partials/variables";
@use "partials/reboot";

// TODO: remove it
:root {
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(
    126.67% 350.28% at -21.35% 0%,
    #11213f 0%,
    #0b0b0b 39.1%,
    #021740d6 94.57%,
    #02174000 100%
  );
}

.link-more {
  text-decoration: underline;

  &::after {
    content: " >";
  }
}

.nav {
  padding: 0.75rem;

  &-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    width: 95%;
    margin: 0 auto;
    padding: 1.5rem 0;
  }
  &-links {
    display: none;
    font-family: "BEYNO", sans-serif;
  }
  &-link:hover {
    text-decoration: underline;
  }
  &-link-active {
    text-decoration: underline;
    color: variables.$violet-1;
  }
  &-logo img {
    height: 1.6rem;
  }

  @include mixins.mq_sm {
    &-wrapper {
      padding: 2rem 0;
    }
    &-logo img {
      height: 1.9rem;
    }
  }

  @include mixins.mq_md {
    padding: 1rem;

    &-wrapper {
      padding: 2rem 0;
      justify-content: space-between;
    }
    &-links {
      display: flex;
      gap: 3rem;
      font-size: 1.2rem;
    }
  }

  @include mixins.mq_lg {
    &-logo img {
      height: 2rem;
    }
    &-links {
      font-size: 1.7rem;
    }
  }

  @include mixins.mq_xl {
    &-logo img {
      font-size: 2.3rem;
    }
    &-links {
      font-size: 2rem;
    }
  }
}

.banner {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  text-align: center;
  padding-bottom: 3rem;

  &-wrapper-text {
    width: 85%;
    margin: 0 auto;
    padding: 2rem 0;
  }
  &-title {
    font-family: "Panthera", sans-serif;
    font-size: 2rem;
    color: variables.$violet-1;
    margin-bottom: 0.7rem;
  }
  &-subtitle {
    font-family: "BEYNO", sans-serif;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: variables.$violet-1;
  }
  &-description {
    margin-bottom: 0.8rem;
  }
  &-wrapper-image {
    display: none;
  }
  &-image {
    width: 100%;
  }

  @include mixins.mq_md {
    grid-template-columns: 40% 60%;
    text-align: start;

    &-wrapper-text {
      padding: 2.2rem 0 3rem 0;
    }
    &-title {
      font-size: 2.5rem;
      margin-bottom: 0.9rem;
    }
    &-subtitle {
      margin-bottom: 1.3rem;
      font-size: 1.5rem;
    }
    &-wrapper-image {
      display: block;
    }
    &-wrapper-text {
      margin: 0 0 0 auto;
    }
  }
  @include mixins.mq_lg {
    &-wrapper-text {
      padding: 2.5rem 0 2.8rem 0;
    }
    &-title {
      font-size: 3.2rem;
      margin-bottom: 0.8rem;
    }
    &-subtitle {
      margin-bottom: 1.5rem;
    }
  }
  @include mixins.mq_xl {
    &-wrapper-text {
      padding: 3rem 0 3.4rem 0;
    }
    &-title {
      font-size: 3.8rem;
      margin-bottom: 1rem;
    }
    &-subtitle {
      margin-bottom: 1.8rem;
    }
    &-description {
      width: 90%;
    }
  }
}

.section {
  &-title {
    font-family: "BEYNO", sans-serif;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: variables.$violet-1;
  }
}

// TODO: make it responsive
.section-actor {
  display: flex;
  flex: 0 0 auto;
  width: 96%;
  margin: 0 0 10rem auto;
  padding-left: 4rem;
  background: variables.$blue-3;
  position: relative;

  &-btn-next {
    height: 2rem;
    width: 2rem;
    background: variables.$blue-2;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-wrapper {
    display: flex;
  }

  &-wrapper:first-child img {
    transform: scale(1.15);
    transform-origin: right;
  }

  &-image {
    min-width: 250px;
    max-width: 250px;
  }

  &-image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: top;
  }

  &-text {
    padding: 3rem 2rem;
    min-width: 350px;
  }
}

.section-quote {
  font-size: 0.875rem;
}

.section-hero {
  display: flex;
  flex-direction: column-reverse;
  width: 85%;
  margin: 0 auto;

  &-text {
    padding: 3rem 8% 0 5%;
    text-align: justify;
    width: 100%;
  }

  &-text p {
    margin-bottom: 1.2rem;
    text-align: justify;
  }

  &-bio-wrapper {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }

  &-bio {
    padding: 0 2rem 6rem 2rem;
    margin: 8rem 0 5rem 0;
    border-radius: 0.875rem;
    background: variables.$white;
    color: variables.$blue-3;
  }

  &-bio + img {
    margin-bottom: 3rem;
  }

  img {
    width: 100%;
  }

  &-bio-image {
    margin: 0 auto 1rem 0;
    img {
      margin-top: -60%;
    }
  }
  &-bio-name {
    text-align: center;
    margin-bottom: 1rem;
  }

  .status-group {
    display: flex;
    gap: 0.5rem 0.25rem;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 1rem;

    &-item {
      background-color: variables.$blue-1;
      color: variables.$white;
      padding: 0.5rem 0.75rem;
      font-size: 0.8rem;
      border-radius: 5px;
    }
  }

  @include mixins.mq_md {
    &-bio {
      margin: 12rem 0 5rem 0;
    }
  }
  @include mixins.mq_md {
    flex-direction: row;
    &-bio {
      margin: 10rem 0 5rem 0;
    }
    &-text {
      width: 60%;
    }
    &-bio-wrapper {
      width: 40%;
    }
  }
  @include mixins.mq_lg {
    &-text {
      width: 66%;
    }
    &-bio-wrapper {
      width: 33%;
    }
  }
}
.section-form {
  background: url("/assets/images/home/Pantherhome7.png") center/cover no-repeat;
  padding: 4rem 1.5rem;
  &-heading {
    text-align: center;
    margin-bottom: 1.6rem;
  }
  form {
    max-width: 720px;
    padding: 3rem 14%;
    border-radius: 20%;
    margin: 0 auto;
    background: variables.$grad-white;
    color: variables.$blue-3;
  }
  h2 {
    font-size: 2rem;
  }
  input,
  button,
  textarea {
    border-radius: 1.3rem;
    background: transparent;
    padding: 0.5rem 1.4rem;
  }
  input,
  textarea {
    display: block;
    width: 100%;
    margin-bottom: 1.2rem;
    border: 1px solid variables.$blue-3;
  }
  button {
    background-color: variables.$pink-1;
    display: block;
    max-width: max-content;
    margin: 0 auto;
    text-transform: uppercase;
  }
}
