@use "variables";

a {
  color: inherit;
  text-decoration: none;
}

body {
  color: variables.$white;
  font-size: 1rem;
  font-family: "Cantarell", sans-serif;
  overflow: hidden auto;
}

input,
button,
textarea,
input::placeholder,
textarea::placeholder {
  font: inherit;
  color: inherit;
  border: none;
  outline: none;
}
button {
  cursor: pointer;
}
