// fonts
@font-face {
  font-family: "BEYNO";
  src: url(/assets/fonts/BEYNO.otf) format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "Cantarell";
  src: url(/assets/fonts/Cantarell-Regular.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Panthera";
  src: url(/assets/fonts/PantheraRegular-MVZ9J.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "WakandaForever";
  src: url(/assets/fonts/WakandaForever-Regular.ttf) format("truetype");
  font-weight: 500;
}

// colors
$blue-1: #3d2da6;
$blue-2: #07338c;
$blue-3: #021740;
$pink-1: #f2cef2;
$pink-2: #df99f2;
$violet-1: #9e91b7;
$white: #ffffff;
